.full_width {
  width: 100%;
}
.full_padding {
  padding: 10px;
}
.text_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.wall-story-subtitle {
  line-height: 2em;
  font-size: 120%;
}
.cover {
  height: 500px;
  background-color: rgba(47,52,64,0.3);
}